=breadcrumb_tag do
  %li.active
    = t('headers.books.index')
  %li
    Библиотека

.page-header
  %h1= t('headers.books.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_book_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.book') 
  %thead
    %tr
      %th= Book.human_attribute_name(:name)
      %th= Book.human_attribute_name(:part)
      %th= Book.human_attribute_name(:isbn)
      %th= Book.human_attribute_name(:print_year)
      %th= Book.human_attribute_name(:stillage)
      %th= Book.human_attribute_name(:shelf)
      %th= Book.human_attribute_name(:copies)
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td.center= book.name
        %td.center= book.part
        %td.center= book.isbn
        %td.center= book.print_year
        %td.center= book.stillage.index
        %td.center= book.shelf
        %td.center= book.copies
        %td.right
          = link_to book, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
          = link_to edit_book_path(book), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to book, :method => :delete, 
          :data => { :confirm => t('buttons.confirm.book') }, 
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')

%br
